@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*teste*/
body {
/*   background: #6f6f6f; */
  
/*   background: linear-gradient(315deg, #ffffff, #d7e1ec); */
  
  background: rgb(91,87,159);
  background: linear-gradient(90deg, rgba(91,87,159,1) 11%, rgba(49,18,83,1) 55%, rgba(22,2,78,1) 95%);
  
/*   background-color: #dedede;
  opacity: 1;
  background-image: linear-gradient(#e8e8e8 1.2px, transparent 1.2px), linear-gradient(to right, #e8e8e8 1.2px, #dedede 1.2px);
  background-size: 24px 24px; */
  
/*   background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%); */

  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  /*   font-family: "Roboto", sans-serif; */
  place-items: center;
  color: #585858;
}

.container {
/*   background: #ECF4FF; */
  
  background-color: #dedede;
  opacity: 1;
  background: linear-gradient(#e8e8e8 1.2px, transparent 1.2px), linear-gradient(to right, #e8e8e8 1.2px, #dedede 1.2px);
  background-size: 24px 24px;
/*   min-width: 265px;
  min-heigth: 605px; */
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0E1D2F;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}
  
.perfil-foto {
  border-radius: 500px;
  max-height: 160px;
  box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
  object-fit: contain;
  max-width: 100%;
  margin: 0px
}

.titulo {
  margin-left: 16px;
  text-align: justify;
}

/* para estilizar apenas o h1, que é filho da div com class "titulo" */
.titulo h1 {
  font-weight: 700;
  font-size: 36px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
}

.titulo p {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.tema {
  margin-top: 20px;
  margin-bottom: -50px;
}

.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  background: #b6b2ae;
  border: 2px solid #585858;
  border-radius: 100px;
  padding: 8px 16px;
  color: #585858;
}

.portfolio {
  margin-top: 65px;
  display: flex;
/*   display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: minmax(1000px, 2000px); */
  gap: 16px;
  color: #585858;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: #b6b2ae;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  align-items: left;
  padding: 40px;
  min-width: 1005px;
  flex-basis: 100%;
}

.projetosTitulo {
  margin-left: -30px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
}

.projetos li {
  list-style: none;
  line-height: 48px;
  font-weight: 400;
  font-size: 24px;
  margin: 5px;
}

.projetoLink:hover {
  background: #dedede;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  transition: 0.5s;
}

.projetos a {
  text-decoration: none;
  color: #585858;
}

.conquistas {
  display: block;
/*   grid-template-columns: 1fr 1fr; */
  flex-direction: column;
  background: #b6b2ae;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  gap: 10px;
  max-width: 100px;
}

.conquistas p {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  padding-top: 0px;
}

img {
  object-fit: contain;
  max-width: 60px;
  margin: 10px;
}

.dark {
  background: #333439;
  
/*   background: linear-gradient(230deg, rgba(5,43,88,1) 5%, rgba(165,68,196,1)99%, rgba(155,210,221,1) 99%); */
  
/*   background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%); */
}

.dark .container {
  background: #47484c;
  box-shadow: 6px 6px 6px #0E1D2F;
  border-radius: 20px;
  color: #dedede;
}

.dark .projetos {
  color: #dedede;
  background: #333439;
}

.dark .projetos a {
  color: #dedede;
}

.dark .conquistas {
  color: #dedede;
  background: #333439;
}

.dark .conquistas img {
  filter: invert(1);
}

.dark .tem button {
  background: #1C1C1C;
  border: 2px solid #F7F7F7;
}

/* CÓDIGOS DOS POTÕES DAS REDES \/ *//* CÓDIGOS DOS POTÕES DAS REDES \/ */
/* CÓDIGOS DOS POTÕES DAS REDES \/ *//* CÓDIGOS DOS POTÕES DAS REDES \/ */

.rodape {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: auto 20px;
  margin-top: 50px;
}

/* só para deixar os ícones alinhados */
.wrapper {
  display: inline-flex;
  list-style: none;
  margin-top: -10px;
  margin-bottom: -40px;
}

/* deu uma forma circular para o ancor, usou a tríade para alinhar no centro e inseriu transição, para o hoover ativar a animação */
.wrapper .icon {
  position: relative;
  background: #b6b2ae;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* fez uma forma retangular para o span, deixou com opacidade 0 e inseriu a mesma função de transição */
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* inseriu um content vazio antes do span, mas deu uma forma quadrada pra ele e girou ela em 45°, deixando só a pontinha (trinagulo) pra baixo. Colocou a mesma transição esperando o hoover para animar ela */
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* agora o trem começa a ficar interessante: */
/* quando eu dou o hover no ícone, o span sobe 45px e fica visível. Lembrando que o span está com aquela função de transição */
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* não é necessário essa estilização do span, pq a classe tooltip dele já está sendo estilizada, mas eu deixei... quando eu dou o hoover no ícone, o span fica com uma sombra. Só isso mesmo. */
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

/* esse eu achei foda! quando eu dou hoover no ícone (que também possui a classe codepen, então eu estou dando hoover no codepen), o ícone, o span e o quadradinho (pontinha abaixo do span) ficam com background cinza e fonte branca. O mesmo acontece com os outros.*/
.wrapper .codepen:hover,
.wrapper .codepen:hover .tooltip,
.wrapper .codepen:hover .tooltip::before {
  background: #424549;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0e76a8;
  color: #ffffff;
}

.wrapper .discord:hover,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip::before {
  background: #7289da;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .alura:hover,
.wrapper .alura:hover .tooltip,
.wrapper .alura:hover .tooltip::before {
  background: #0d4d9c;
  color: #ffffff;
}